/* ==== GENERAL ==== */
body {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  background: url("../img/duck_egg_background_3.jpg") repeat fixed;
  background-size: 450px 450px;
  text-align: center;
  color: #503019; }

hr {
  border-color: #df71b2;
  border-width: 3px; }

.title {
  width: 50%; }

h1, h2, h3, h4, h5 {
  font-family: "Courgette", cursive;
  font-weight: bold; }

.container-fluid {
  padding: 0px; }

.badge.social {
  background-color: #df71b2;
  font-size: 27px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 60px;
  margin: 0 5px 20px 0;
  padding: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white; }

.badge.social.facebook:hover {
  transition: background-color 0.7s ease;
  background-color: #3b5998; }

#maps-height {
  padding-top: 0;
  margin-top: 30px;
  height: 400px;
  width: 100%; }

#map {
  height: 100%;
  width: 100%; }

.border {
  width: 70%;
  height: 40px;
  margin: 20px 0 20px 0; }

.border-inverse {
  width: 70%;
  height: 40px;
  transform: rotate(180deg);
  margin: 20px 0 20px 0; }

.img-responsive {
  border: 3px solid #df71b2; }

/* ==== GLOBAL ==== */
button {
  background: #df71b2; }
  button a {
    color: white; }
  button a:hover {
    color: white;
    text-decoration: none; }

button:hover {
  transition: 1s;
  background: #bf2b82; }

.margin {
  margin: 0; }

/* ==== NAV ==== */
#navbar-con {
  padding-right: 0px;
  padding-left: 0px; }

.navbar-default {
  background-color: #ffffd0 !important;
  border-color: white !important; }

.navbar-nav {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold; }

.navbar-nav > li {
  float: none;
  display: inline-block; }

.navbar {
  margin-bottom: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #df71b2; }

.navbar-default .navbar-nav > li > a:hover {
  color: #bf2b82; }

/* ==== INTRODUCTION ==== */
#intro {
  background: white url("../img/cover_image_2.jpg") no-repeat;
  background-size: cover;
  height: 600px; }
  #intro .col-sm-4 {
    padding-top: 75px;
    height: 600px;
    background: rgba(255, 255, 208, 0.7);
    border-radius: 3px;
    border-left: 1px solid #df71b2;
    border-right: 1px solid #df71b2; }

/* ==== GALLERY ==== */
#gallery {
  margin: 0px 0 40px 0; }
  #gallery .row {
    background: #ffffd0;
    border-radius: 30px; }

/* ==== CONTACT ==== */
#contact {
  margin: 40px 0 40px 0; }
  #contact .row {
    background: #ffffd0;
    border-radius: 30px; }

/* ==== SERVICES ==== */
#services {
  margin: 40px 0 40px 0; }
  #services .row {
    background: #ffffd0;
    border-radius: 30px; }
    #services .row .rservices {
      padding: 40px 0 60px 0; }
      #services .row .rservices .col-sm-4 {
        display: inline-block;
        margin: 0 1% 0 1%;
        width: 31%;
        background: #f2c4df;
        padding: 30px 20px 10px;
        position: relative;
        vertical-align: top;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-bottom-left-radius: 25% 100%;
        border-bottom-right-radius: 25% 100%;
        border: 2px #df71b2 solid; }
        #services .row .rservices .col-sm-4 span {
          background: white;
          display: block;
          height: 70px;
          width: 70px;
          text-align: center;
          line-height: 70px;
          font-weight: bold;
          font-size: 24px;
          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border: 2px #bdd9d8 solid;
          position: absolute;
          top: -35px;
          left: 50%;
          margin-left: -35px; }

/* ==== REVIEWS ==== */
#reviews {
  margin: 40px 0 40px 0; }
  #reviews .row {
    background: #ffffd0;
    border-radius: 30px; }
    #reviews .row .review {
      padding: 10px 0 10px 0;
      display: table; }
      #reviews .row .review .col-sm-4 {
        display: table-cell;
        vertical-align: middle; }
        #reviews .row .review .col-sm-4 img {
          height: 250px;
          width: 250px; }
      #reviews .row .review .col-sm-8 {
        display: table;
        height: 250px; }
        #reviews .row .review .col-sm-8 blockquote {
          border-left: none;
          display: table-cell;
          vertical-align: middle; }

/* ==== ABOUT ==== */
#about {
  margin: 40px 0 40px 0; }
  #about .row {
    background: #ffffd0;
    border-radius: 30px; }

/* ==== FOOTER ==== */
footer {
  background: #ffffd0;
  border-radius: 0px; }
  footer .col-sm-4 {
    border-right: 1px solid #df71b2;
    height: 260px; }
  footer .col-sm-4:last-child {
    border-right: none; }
  footer .copyright {
    background: #df71b2; }

/* ==== MEDIA QUERIES ==== */
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; } }

/*# sourceMappingURL=custom.css.map */
